
/SettingBuilder/ConsoleDebugAssert/bin
/SettingBuilder/ConsoleDebugAssert/obj
/UMoresamplerForTuneLab/.vs
/UMoresamplerForTuneLab/obj
/UtaubaseForTuneLab/.vs
/UtaubaseForTuneLab/bin
/UtaubaseForTuneLab/obj
/ChoristaUtauApi/.vs
/ChoristaUtauApi/bin
/ChoristaUtauApi/obj
/ChoristaUtau.Phonemizers/EnglishVCCV/obj
/ChoristaUtau.Phonemizers/SyllableG2PApi/bin
/ChoristaUtau.Phonemizers/SyllableG2PApi/obj
/ChoristaUtau.Phonemizers/OpenUtau.PhonemeAdapter/.vs
/ChoristaUtau.Phonemizers/OpenUtau.PhonemeAdapter/OpenUtauAdapter/bin
/ChoristaUtau.Phonemizers/OpenUtau.PhonemeAdapter/OpenUtauAdapter/obj
/ChoristaUtau.Phonemizers/OpenUtau.PhonemeAdapter/OpenUtauBuiltInPhonemizers/obj
/ChoristaUtau.Phonemizers/OpenUtau.PhonemeAdapter/OpenUtauPhonemeApi/.vs
/ChoristaUtau.Phonemizers/OpenUtau.PhonemeAdapter/OpenUtauPhonemeApi/bin
/ChoristaUtau.Phonemizers/OpenUtau.PhonemeAdapter/OpenUtauPhonemeApi/obj
/ChoristaUtau.Phonemizers/OpenUtau.PhonemeAdapter/MocaloidSyllablePhonemizer/obj
/SettingBuilder/TLXPackageHelper/bin
/SettingBuilder/TLXPackageHelper/obj
/.vs
/ChoristaUtauLoader/obj
/Output
/Output
/SettingBuilder/Tools/ConsoleDebugAssert/bin
/SettingBuilder/Tools/ConsoleDebugAssert/obj
/SettingBuilder/Tools/TLXPackageHelper/bin
/SettingBuilder/Tools/TLXPackageHelper/obj
/SettingBuilder/Win64/SettingBuilder/obj
/UMoresamplerForTuneLab/bin
/RenderEngines/UDoppeltlerForTuneLab/.vs
/RenderEngines/UDoppeltlerForTuneLab/bin
/RenderEngines/UDoppeltlerForTuneLab/obj
/RenderEngines/UMoresamplerForTuneLab/.vs
/RenderEngines/UMoresamplerForTuneLab/bin
/RenderEngines/UMoresamplerForTuneLab/obj
t.txt
