
/ConsoleDebugAssert/bin
/ConsoleDebugAssert/obj
/UMoresamplerForTuneLab/.vs
/UMoresamplerForTuneLab/obj
/UtaubaseForTuneLab/.vs
/UtaubaseForTuneLab/bin
/UtaubaseForTuneLab/obj
/UtauSharpApi/bin
/UtauSharpApi/obj
/UtauSharpApi/.vs
/NWaves/obj
/NWaves/bin
/NWaves/bin
/NWaves/bin
/ChoristaUtauApi/.vs
/ChoristaUtauApi/bin
/ChoristaUtauApi/obj
/SyllableG2PApi/bin
/SyllableG2PApi/obj
/ChoristaUtau.Phonemizers/EnglishVCCV/obj
/ChoristaUtau.Phonemizers/SyllableG2PApi/bin
/ChoristaUtau.Phonemizers/SyllableG2PApi/obj
/ChoristaUtau.Phonemizers/OpenUtau.PhonemeAdapter/.vs
/ChoristaUtau.Phonemizers/OpenUtau.PhonemeAdapter/OpenUtauAdapter/bin
/ChoristaUtau.Phonemizers/OpenUtau.PhonemeAdapter/OpenUtauAdapter/obj
/ChoristaUtau.Phonemizers/OpenUtau.PhonemeAdapter/OpenUtauBuiltInPhonemizers/obj
/ChoristaUtau.Phonemizers/OpenUtau.PhonemeAdapter/OpenUtauPhonemeApi/.vs
/ChoristaUtau.Phonemizers/OpenUtau.PhonemeAdapter/OpenUtauPhonemeApi/bin
/ChoristaUtau.Phonemizers/OpenUtau.PhonemeAdapter/OpenUtauPhonemeApi/obj
