
/ConsoleDebugAssert/bin
/ConsoleDebugAssert/obj
/UMoresamplerForTuneLab/.vs
/UMoresamplerForTuneLab/obj
/UtaubaseForTuneLab/.vs
/UtaubaseForTuneLab/bin
/UtaubaseForTuneLab/obj
/UtauSharpApi/bin
/UtauSharpApi/obj
/UtauSharpApi/.vs
/NWaves/obj
